{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<h1>Tables</h1>
<h3>Employee</h3>
<h3>Department</h3>
<h3>Dept_Locations</h3>
<h3>Project</h3>
<h3>Works_On</h3>
<h3>Dependent</h3><br>
<h4>CRUD enabled APIs developed.</h4>
<h5>Technology used: Python (Flask, Flask-SQLAchemy), PostgreSQL with PgAdmin 4 and APIs with Postman.</h5>


<!-- <div class = "Content"> (FOR FRONTEND - FORM)
    <h1>Employee</h1>

    <form action = '/submit' method = 'POST'>
        <label for = "fname">First Name:</label><br>
        <input type = "text" id = "fname" name = "fname"><br><br>

        <label for = "lname">Last Name:</label><br>
        <input type = "text" id = "lname" name = "lname"><br><br>

        <label for = "Ssn">SSN:</label><br>
        <input type = "number" id = "Ssn" name = "Ssn"><br><br>

        <label for = "Bdate">Birthday:</label><br>
        <input type = "date" id = "Bdate" name = "Bdate"><br><br>

        <label for = "Address">Address:</label><br>
        <input type = "text" id = "Address" name = "Address"><br><br>

        <label for = "Sex">Sex:</label><br>
        <input type = "text" id = "Sex" name = "Sex"><br><br>

        <label for = "Salary">Salary:</label><br>
        <input type = "number" id = "Salary" name = "Salary"><br><br>

        <label for = "Super_ssn">Super SSN:</label><br>
        <input type = "number" id = "Super_ssn" name = "Super_ssn"><br><br>

        <label for = "Dno">Dno:</label><br>
        <input type = "number" id = "Dno" name = "Dno"><br><br>

        <button><a>Send</a></button><br>
    </form> -->
{% endblock %}